<!DOCTYPE html>
<html>
  <head>
    <title>Despido Justo</title>
    <meta name="description" content="Our first page" />
    <meta name="keywords" content="html tutorial template" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="assets/css/style.css" />
    <link
      rel="stylesheet"
      href="assets/fonts/fontawesome/css/font-awesome.min.css"
    />
  </head>
  <body>
    <%- include('partials/navbar'); %>
    <a
      href="https://api.whatsapp.com/send?phone=56923888595"
      class="fixed-whatsapp-button"
      ><i class="fa fa-whatsapp"></i
    ></a>
    <div
      id="main-carousel"
      class="carousel slide"
      data-ride="carousel"
      data-interval="6000"
    >
      <!-- <div id="main-carousel" class="carousel slide" data-ride="false"> -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="carousel-item-text-content">
            <div class="d-none d-md-block">
              <h2 class="header">Te despidieron?</h2>
              <p>piensas que tu despido es <em>injustificado</em></p>
              <p>
                Consultanos gratuitamente, te asesoramos para obtener
                indemnizacion
              </p>
            </div>
            <div class="text-content">
              <div class="d-md-none">
                <h2 class="header">Juicios por</h2>
                <p><em>DESPIDO INJUSTIFICADO</em></p>
              </div>
              <a class="btn btn-primary" href="#despido-injustificado"
                >M&aacute;s Informaci&oacute;n</a
              >
            </div>
          </div>
        </div>
        <div class="carousel-item image-2">
          <div class="carousel-item-text-content">
            <div class="d-none d-md-block">
              <h2 class="header">
                Cansado de los incumplimientos de tu empleador?
              </h2>
              <p>No renuncies, practica un</p>
              <p><em>AUTODESPIDO</em></p>
              <p>Y OBTÉN INDEMNIZACIÓN, te guiamos paso a paso</p>
            </div>
            <div class="text-content">
              <div class="d-md-none">
                <h2 class="header">Juicios por</h2>
                <p><em>AUTODESPIDO</em></p>
              </div>
              <a class="btn btn-primary" href="#autodespido"
                >M&aacute;s Informaci&oacute;n</a
              >
            </div>
          </div>
        </div>
        <div class="carousel-item image-3">
          <div class="carousel-item-text-content">
            <div class="d-none d-md-block">
              <h2 class="header">Sufriste un</h2>
              <h2 class="d-block d-md-none">Juicios por</h2>
              <p><em>ACCIDENTE EN EL TRABAJO</em></p>
              <p>O padeces una</p>
              <p><em>ENFERMEDAD PROFESIONAL</em></p>
              <p>Tienes derecho a demandar daños y perjuicios, consúltanos</p>
            </div>
            <div class="text-content">
              <div class="d-sm-none">
                <h2 class="header">Juicios por</h2>
                <p>
                  <em>ENFERMEDADES </em>&nbsp;&nbsp;&nbsp; y<br /><em
                    >ACCIDENTE DEL TRABAJO</em
                  >
                </p>
              </div>
              <a href="#enfermedades" class="btn btn-primary"
                >M&aacute;s Informaci&oacute;n</a
              >
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-target="#main-carousel"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-target="#main-carousel"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </button>
    </div>
    <div class="bg-primary text-center text-white p-4 my-4">
      <div class="container about-us">
        <h2>DEFENSA DEL TRABAJADOR</h2>
        <p>
          Nuestros abogados, egresados de la Universidad de Chile, cuentan con
          una vasta experiencia en juicios laborales y tienen un fuerte
          compromiso con la defensa de los trabajadores, a un costo al que todos
          pueden acceder.
        </p>
      </div>
    </div>
    <!-- Section -->
    <div class="my-4 text-center container">
      <p class="subheader">ASESORES DEL TRABAJADOR</p>
      <h2 class="section-header">Nuestros Servicios <em>Destacados</em></h2>
      <div class="d-flex flex-column flex-md-row">
        <div class="services-item">
          <div>
            <img
              class="services-item__img"
              src="assets/images/practice-area/juicio-despido.jpg"
            />
            <div class="services-item__title-container">
              <!-- <p class="subheader">Juicios por despido injustificado</p> -->
              <h3>Juicios por despido injustificado</h3>
            </div>
            <p class="services-item__description">
              Todo despido debe estar fundado en una causa que la ley autorice.
              Si te despidieron, nuestros abogados pueden evaluar, sin costo
              para ti, si el despido se ajusta a la ley. Si el despido no está
              correctamente justificado por el empleador, puedes demandar para
              ser indemnizado.
            </p>
          </div>
          <a href="#despido-injustificado" class="mt-3 btn btn-primary"
            >Quiero Saber M&aacute;s</a
          >
        </div>
        <div class="services-item">
          <div>
            <img
              class="services-item__img"
              src="assets/images/practice-area/autodespido.jpg"
            />
            <div class="services-item__title-container">
              <!-- <p class="subheader">Tienda en l&iacute;nea</p> -->
              <h3>Autodespido</h3>
            </div>
            <p class="services-item__description">
              Es el derecho del trabajador a poner término al contrato cuando el
              empleador incumple la ley o lo convenido en el contrato de
              trabajo, pudiendo demandar su derecho a ser indemnizado por los
              años de servicio. Consúltanos, gratuitamente.
            </p>
          </div>
          <a href="#autodespido" class="mt-3 btn btn-primary"
            >Quiero Saber M&aacute;s</a
          >
        </div>
        <div class="services-item">
          <div>
            <img
              class="services-item__img"
              src="assets/images/practice-area/accidentes.jpg"
            />
            <div class="services-item__title-container">
              <!-- <p class="subheader">Tienda en l&iacute;nea</p> -->
              <h3>Accidentes y enfermedades profesionales</h3>
            </div>
            <p class="services-item__description">
              Si sufres un accidente en el trabajo o contraes una enfermedad
              profesional, además de cobrar los seguros de la Ley tienes la
              posibilidad de demandar a tu empleador por el sufrimiento que
              significa el accidente o enfermedad y las consecuencias negativas
              que en tu vida personal estos eventos significan Los abogados de
              Despido Justo evaluarán tu caso para que sepas cuáles son tus
              posibilidades así como los pasos a seguir.
            </p>
          </div>
          <a href="#enfermedades" class="mt-3 btn btn-primary"
            >Quiero Saber M&aacute;s</a
          >
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="my-4 text-center container">
      <p class="subheader">La Empresa</p>
      <h2 class="section-header">
        ¿Por qué elegir a los abogados de<br />
        <em>DESPIDO JUSTO?</em>
      </h2>
      <div class="text-left mt-4">
        <div class="row section-row mb-md-4">
          <div class="col-12 col-md-5 section-row-image-container">
            <img src="assets/images/image-section-3.jpg" />
          </div>
          <div
            class="section-row-text-container mt-4 mt-md-0 col-12 col-md-7 d-flex flex-column justify-content-center"
          >
            <h4>Tu juicio en las mejores manos</h4>
            <div class="section-row-text-container-body">
              <p>
                <span class="section-about__header-list">
                  &check; ESPECIALISTAS A TU SERVICIO.
                </span>
                Sabemos lo que significa un juicio laboral; nos especializamos
                en guiarte a través de este proceso para obtener la mayor
                ganancia con el menor costo personal en tiempo y recursos.
              </p>
              <p>
                <span class="section-about__header-list">
                  &check; PAGA SOLO SI GANAS.
                </span>
                Despido Justo sólo te cobrará un porcentaje de lo que logres
                ganar en el juicio; si pierdes el juicio, no pagas.
              </p>
              <p>
                <span class="section-about__header-list">
                  &check; VALORAMOS TU TIEMPO.</span
                >
                Nuestro compromiso es obtener la mayor ganancia en el menor
                tiempo posible. No más retrasos injustificados en sus asesorías
                legales!
              </p>
            </div>
          </div>
        </div>
        <div
          class="row section-row mb-md-4 section-row-image-after flex-column-reverse flex-md-row"
          id="despido-injustificado"
        >
          <div
            class="section-row-text-container mt-4 mt-md-0 col-12 col-md-7 d-flex flex-column justify-content-center"
          >
            <h4>Juicios por Despido Injustificado</h4>
            <div class="section-row-text-container-body">
              <div class="justify-content-md-center text-left mb-5">
                <p>
                  Todo despido debe estar fundado en una causa que la ley
                  autorice. Si te despidieron, nuestros abogados pueden evaluar,
                  sin costo para ti, si el despido se ajusta a la ley. Si el
                  despido no está correctamente justificado por el empleador,
                  puedes demandar para ser indemnizado.
                </p>
              </div>
              <div class="accordion" id="accordionExample">
                <div class="">
                  <div class="" id="headingOne">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                      >
                        Me despidieron ¿qué debo hacer?
                      </button>
                    </h2>
                  </div>

                  <div
                    id="collapseOne"
                    class="collapse"
                    aria-labelledby="headingOne"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      Lo primero qué debes hacer es un consultar con un abogado
                      para que evalúe si el despido ha sido efectuado conforme a
                      la ley. En caso que el despido no esté correctamente
                      justificado, te indicará qué derechos tienes y los pasos
                      necesarios en caso que decidas demandar. Si tienes dudas y
                      necesitas que te asesoremos consulta gratis, has click
                      aquí.
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="" id="headingTwo">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseTwo"
                        aria-expanded="false"
                        aria-controls="collapseTwo"
                      >
                        ¿Cuándo el despido se considera injustificado?
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapseTwo"
                    class="collapse"
                    aria-labelledby="headingTwo"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      Existe despido injustificado cuando: <br />+ El despido es
                      solo verbal, es decir, no recibes una carta de despido que
                      cumpla las formalidades legales. <br />+ El empleador no
                      invoca ninguna causal de despido. <br />+ El empleador
                      invoca una causal, pero dicha causal no está
                      suficientemente justificada por los hechos en que está
                      basado. Por ejemplo, el empleador invoca la causal de
                      necesidades de la empresa, pero en verdad está simplemente
                      reemplazando un trabajador por otra persona. Otro ejemplo
                      podría ser que te despidan por ausencias injustificadas,
                      pero una o más de las ausencias mencionadas en la carta sí
                      fueron justificadas. En fin, cada vez que se invoca una
                      causal de despido debe evaluarse si los hechos en que se
                      funda esa causal son reales y suficientes para la
                      aplicación de la causal
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="" id="headingThree">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseThree"
                        aria-expanded="false"
                        aria-controls="collapseThree"
                      >
                        ¿Qué puedo demandar?
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapseThree"
                    class="collapse"
                    aria-labelledby="headingThree"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      <p>
                        Cuando el despido es declarado injustificado por un
                        Tribunal, éste condenará a la empresa a pagar un recargo
                        sobre la indemnización por años de servicio. Este
                        recargo puede ser de un 30% a un 100%, dependiendo de la
                        causal de despido.
                      </p>
                      <p>
                        Ejemplo 1: Supongamos que ganas $600.000 brutos
                        mensuales, has trabajado 5 años en una empresa y eres
                        despedido por la causal de necesidades de la empresa. En
                        ese caso, tienes derecho a una indemnización por años de
                        servicio de $3.000.000. Si se declara injustificado el
                        despido, la empresa será condenada a pagar un 30% de
                        recargo, es decir, $900.000 adicionales. Además de este
                        recargo, puedes demandar que se te devuelva el aporte
                        empleador al AFC, en caso que dicho aporte haya sido
                        descontado de tu finiquito.
                      </p>
                      <p>
                        Ejemplo 2: Supongamos que ganas $1.000.000 brutos
                        mensuales, has trabajado 8 años en una empresa y eres
                        despedido por ausencias injustificadas. En ese caso,
                        tienes derecho a una indemnización por años de servicio
                        de $8.000.000. Si se declara injustificado el despido,
                        la empresa será condenada a pagar un 80% de recargo, es
                        decir, $6.400.000 adicionales.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="" id="headingFour">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseFour"
                        aria-expanded="false"
                        aria-controls="collapseFour"
                      >
                        ¿Cuánto cuesta y cuánto dura un juicio por despido
                        injustificado?
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapseFour"
                    class="collapse"
                    aria-labelledby="headingFour"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      En Despido Justo cobramos un porcentaje de lo que ganas en
                      el juicio, por lo tanto, solo pagas cuando ganas. El
                      porcentaje a cobrar dependerá del tipo de juicio, de los
                      montos involucrados y la dificultad del caso. Puedes
                      consultar gratuitamente por una evaluación de tu caso y
                      cotización del juicio. En cuanto a la duración de un
                      juicio, ésta dependerá si se logra un acuerdo durante el
                      desarrollo del juicio o si este se prolonga hasta una
                      sentencia.
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="" id="headingFive">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseFive"
                        aria-expanded="false"
                        aria-controls="collapseFive"
                      >
                        Si demando por despido injustificado ¿qué ocurre con el
                        pago de mi finiquito?
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapseFive"
                    class="collapse"
                    aria-labelledby="headingFive"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      Tienes derecho a cobrar tu finiquito primero y demandar a
                      continuación. Es muy importante que al firmar el finiquito
                      escribas en él una reserva de derechos, para que puedas
                      demandar a continuación. Si no haces la reserva, no podrás
                      demandar. Consulta a nuestros asesores para saber qué
                      debes escribir al hacer la reserva de derechos en el
                      finiquito.
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="" id="headingSix">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseSix"
                        aria-expanded="false"
                        aria-controls="collapseSix"
                      >
                        ¿Puedo demandar por despido injustificado si mi contrato
                        de trabajo no está escrito?
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapseSix"
                    class="collapse"
                    aria-labelledby="headingSix"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      Sí, puedes demandar aunque tu contrato no haya sido puesto
                      por escrito. Escriturar el contrato de trabajo es una
                      obligación del empleador y en ningún caso significa
                      pérdida de derechos del trabajador.
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="" id="headingSeven">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseSeven"
                        aria-expanded="false"
                        aria-controls="collapseSeven"
                      >
                        ¿Puedo demandar por despido injustificado si tengo
                        contrato a honorarios?
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapseSeven"
                    class="collapse"
                    aria-labelledby="headingSeven"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      Sí. Si tienes un contrato de honorarios puedes demandar
                      siempre que estén presentes los elementos de la relación
                      laboral: <br />+ Prestación de servicios personales y
                      continuos (no esporádicos). <br />+ Una remuneración por
                      dicha prestación. <br />+ Que exista una situación de
                      dependencia y subordinación (tener jefaturas). En este
                      caso debes demandar para que un tribunal declare la
                      existencia de la relación laboral. Si tienes dudas,
                      consúltanos y evaluaremos si es posible o no demandar la
                      existencia de la relación laboral en tu caso.<a
                        href="#honorarios"
                      >
                        QUIERO SABER MÁS</a
                      >
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="" id="headingEight">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseEight"
                        aria-expanded="false"
                        aria-controls="collapseEight"
                      >
                        ¿Qué ocurre si me despiden por interponer un reclamo en
                        la Inspección del trabajo?
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapseEight"
                    class="collapse"
                    aria-labelledby="headingEight"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      Este despido es particularmente grave y da derecho a
                      interponer una demanda de tutela laboral. La tutela
                      laboral implica que además de lo que habitualmente
                      demandas por concepto de despido injustificado, puedes
                      demandar una indemnización adicional que fluctúa entre 6 y
                      11 remuneraciones. Lo mismo ocurre cuando el despido está
                      motivado por una demanda contra tu empleador.
                      <a href="#tutela-laboral"
                        >Conoce más sobre la tutela laboral acá.</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-5 section-row-image-container">
            <img src="assets/images/juicio-injustificado.jpg" />
          </div>
        </div>
        <div class="row section-row mb-md-4">
          <div class="col-12 col-md-5 section-row-image-container">
            <img src="assets/images/nulidad-despido.jpg" />
          </div>
          <div
            id="nulidad-despido"
            class="section-row-text-container mt-4 mt-md-0 col-12 col-md-7 d-flex flex-column justify-content-center"
          >
            <h4>Nulidad del Despido</h4>
            <div class="section-row-text-container-body">
              <div class="justify-content-md-center text-left mb-5">
                <p>
                  La
                  <span class="section-bold-content">nulidad del despido</span>,
                  también conocida como la Ley Bustos, es una sanción que impone
                  la ley al empleador que despide sin que el trabajador tenga
                  todas sus cotizaciones al día. Esta sanción consiste en que,
                  además de las indemnizaciones por el término del contrato de
                  trabajo, la empresa deberá seguir pagando las remuneraciones
                  del trabajador hasta el día en que pague las cotizaciones
                  atrasadas.
                </p>
                <p>
                  Cuando la empresa despide a un trabajador, tiene la obligación
                  de entregarle un certificado que de cuenta del pago de todas
                  las cotizaciones correspondientes a todo el período trabajado.
                </p>
              </div>
              <div class="accordion" id="accordion2">
                <div class="">
                  <div class="" id="headingNine">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseNine"
                        aria-expanded="true"
                        aria-controls="collapseNine"
                      >
                        Fui despedido y mis cotizaciones no están al día ¿qué
                        debo hacer?
                      </button>
                    </h2>
                  </div>

                  <div
                    id="collapseNine"
                    class="collapse"
                    aria-labelledby="headingNine"
                    data-parent="#accordion2"
                  >
                    <div class="card-body">
                      Puedes iniciar un juicio laboral para que se declare la
                      nulidad del despido. Esto significa que el juez condenará
                      a la empresa a pagar todas las remuneraciones desde el día
                      del despido hasta el día en que se pague completamente la
                      deuda de cotizaciones.
                      <a href="#contacto">Contáctanos para evaluar tu caso</a>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="" id="headingTen">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseTen"
                        aria-expanded="false"
                        aria-controls="collapseTen"
                      >
                        ¿Puedo demandar despido injustificado y nulidad del
                        despido a la vez?
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapseTen"
                    class="collapse"
                    aria-labelledby="headingTen"
                    data-parent="#accordion2"
                  >
                    <div class="card-body">
                      Sí, puedes demandar conjuntamente despido injustificado y
                      nulidad del despido así como cualquier otra prestación que
                      se te adeude (vacaciones pendientes, horas extras, bonos y
                      otras remuneraciones).
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="row section-row mb-md-4 section-row-image-after flex-column-reverse flex-md-row"
          id="tutela-laboral"
        >
          <div
            class="section-row-text-container mt-4 mt-md-0 col-12 col-md-7 d-flex flex-column justify-content-center"
          >
            <h4>Tutela Laboral</h4>
            <div class="section-row-text-container-body">
              <div class="justify-content-md-center text-left mb-5">
                <p>
                  Es un procedimiento que se aplica cuando hay una vulneración
                  de los <em>derechos fundamentales de los trabajadores</em>,
                  entendiéndose por éstos los consagrados en la Constitución.
                </p>
              </div>
              <div class="accordion" id="accordion3">
                <div class="">
                  <div class="" id="headingEleven">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseEleven"
                        aria-expanded="true"
                        aria-controls="collapseEleven"
                      >
                        ¿Qué derechos protege?
                      </button>
                    </h2>
                  </div>

                  <div
                    id="collapseEleven"
                    class="collapse"
                    aria-labelledby="headingEleven"
                    data-parent="#accordion3"
                  >
                    <div class="card-body">
                      <ol>
                        <li>
                          Derecho a la vida, a la integridad física y psíquica
                          de las personas.
                        </li>
                        <li>
                          Derecho al respeto y protección a la vida privada y a
                          la honra de la persona y su familia.
                        </li>
                        <li>
                          Derecho a la inviolabilidad de toda forma de
                          comunicación privada.
                        </li>
                        <li>
                          Derecho a la libertad de conciencia, la manifestación
                          de todas las creencias y el ejercicio libre de todos
                          los cultos que no se opongan a la moral, a las buenas
                          costumbres o al orden público.
                        </li>
                        <li>
                          Derecho a la libertad de emitir opinión y la de
                          informar, sin censura previa, en cualquiera de las
                          formas y por cualquier medio.
                        </li>
                        <li>
                          Derecho a la libre elección del trabajo y de
                          contratación laboral.
                        </li>
                        <li>Derecho a la no discriminación.</li>
                      </ol>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="" id="headingTwelve">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseTwelve"
                        aria-expanded="false"
                        aria-controls="collapseTwelve"
                      >
                        ¿Qué ocurre si la vulneración de estos derechos ocurre
                        con el despido?
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapseTwelve"
                    class="collapse"
                    aria-labelledby="headingTwelve"
                    data-parent="#accordion3"
                  >
                    <div class="card-body">
                      El trabajador afectado puede interponer una demanda de
                      tutela laboral dentro del plazo de 60 días contados desde
                      la separación. En estos casos el juez puede ordenar el
                      pago de las indemnizaciones legales con recargo y,
                      adicionalmente, condenar a una
                      <span class="section-underline-content"
                        >indemnización por una cantidad entre seis y once
                        remuneraciones.</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-5 section-row-image-container">
            <img src="assets/images/tutela.jpg" />
          </div>
        </div>
        <div class="row section-row mb-md-4" id="autodespido">
          <div class="col-12 col-md-5 section-row-image-container">
            <img src="assets/images/despido.jpg" />
          </div>
          <div
            class="section-row-text-container mt-4 mt-md-0 col-12 col-md-7 d-flex flex-column justify-content-center"
          >
            <h4>Autodespido</h4>
            <div class="section-row-text-container-body">
              <div class="justify-content-md-center text-left mb-5">
                <p>
                  <strong>¿Qué es el autodespido?</strong> <br />Es el derecho
                  del trabajador a poner término al contrato cuando el empleador
                  incumple la ley o lo convenido en el contrato de trabajo,
                  pudiendo demandar su derecho a ser indemnizado por los años de
                  servicio. Muchos trabajadores deciden renunciar a su trabajo
                  cuando el empleador no cumple sus obligaciones, sin embargo,
                  la renuncia no da derecho a demandar indemnizaciones por años
                  de servicios u otras. En cambio, el autodespido sí otorga
                  tales derechos.
                </p>
              </div>
              <div class="accordion" id="accordion4">
                <div class="">
                  <div class="" id="heading13">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapse13"
                        aria-expanded="true"
                        aria-controls="collapse13"
                      >
                        Cómo autodespedirse
                      </button>
                    </h2>
                  </div>

                  <div
                    id="collapse13"
                    class="collapse"
                    aria-labelledby="heading13"
                    data-parent="#accordion4"
                  >
                    <div class="card-body">
                      Si tu empleador no cumple con el contrato de trabajo, te
                      recomendamos que nos
                      <a href="#contacto">contactes</a> para asesorarte. Debes
                      cumplir con ciertas formalidades, por lo que es esencial
                      la asistencia de un abogado que te asegure que lo hagas
                      bien y no pierdas la oportunidad de reclamar tus derechos
                      debido a un error.
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="" id="heading14">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapse14"
                        aria-expanded="false"
                        aria-controls="collapse14"
                      >
                        Formalidades
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapse14"
                    class="collapse"
                    aria-labelledby="heading14"
                    data-parent="#accordion4"
                  >
                    <div class="card-body">
                      El autodespido requiere que el trabajador redacte una
                      carta dirigida al empleador, en la que debe indicar la
                      causal legal para poner término al contrato y expresar los
                      motivos de hecho que sustentan la causal invocada. Debe
                      enviarse por carta certificada al empleador y remitirse
                      copia de la misma a la Inspección del Trabajo
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="" id="heading15">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapse15"
                        aria-expanded="false"
                        aria-controls="collapse15"
                      >
                        Principales causales de autodespido
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapse15"
                    class="collapse"
                    aria-labelledby="heading15"
                    data-parent="#accordion4"
                  >
                    <div class="card-body">
                      En general, los incumplimientos graves del contrato o de
                      la legislación laboral, dan derecho al trabajador a poner
                      término al contrato. Entre los casos más comunes se
                      encuentran, el no pago oportuno de remuneraciones, cambios
                      unilaterales en las condiciones del contrato, no pago
                      oportuno de cotizaciones, conductas de acoso, amenazas a
                      la vida o salud del trabajador, entre otras.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="row section-row mb-md-4 section-row-image-after flex-column-reverse flex-md-row"
          id="enfermedades"
        >
          <div
            class="section-row-text-container mt-4 mt-md-0 col-12 col-md-7 d-flex flex-column justify-content-center"
          >
            <h4>Accidentes y Enfermedades Profesionales</h4>
            <div class="section-row-text-container-body">
              <div class="justify-content-md-center text-left mb-5">
                <p>
                  <span class="section-bold-content"
                    >Accidentes del trabajo</span
                  >
                  es toda lesión que sufra un trabajador/a a causa o con ocasión
                  del trabajo, y que le produzca incapacidad o muerte.
                  Elementos:
                </p>
                <ul>
                  <li>
                    Una lesión: Es decir, un daño o pérdida ocasionado por
                    alguna herida o golpe, que puede referirse tanto al cuerpo
                    físico del trabajador, como a sus facultades intelectuales o
                    sensitivas, a su salud mental, etc.
                  </li>
                  <li>
                    La relación de causalidad entre el trabajo y la lesión.
                  </li>
                  <li>La incapacidad o muerte del accidentado.</li>
                </ul>
                <p>
                  <span class="section-bold-content"
                    >Enfermedad profesional</span
                  >
                  es la causada de una manera directa por el ejercicio de la
                  profesión o del trabajo que realiza una persona y que le
                  produzca incapacidad o muerte.
                </p>
              </div>
              <div class="accordion" id="accordion5">
                <div class="">
                  <div class="" id="heading16">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapse16"
                        aria-expanded="true"
                        aria-controls="collapse16"
                      >
                        ¿Qué es el Seguro contra riesgos de accidentes del
                        trabajo y enfermedades profesionales?
                      </button>
                    </h2>
                  </div>

                  <div
                    id="collapse16"
                    class="collapse"
                    aria-labelledby="heading16"
                    data-parent="#accordion5"
                  >
                    <div class="card-body">
                      Es un seguro social que protege a todos los trabajadores
                      dependientes y a los independientes que cotizan, frente a
                      los accidentes que les ocurran a causa o con ocasión del
                      trabajo y a las enfermedades causadas de manera directa
                      por el ejercicio de su trabajo. Éste se encuentra
                      contenido en la Ley 16.744 y sus reglamentos.
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="" id="heading17">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapse17"
                        aria-expanded="false"
                        aria-controls="collapse17"
                      >
                        ¿Puedo demandar a la empresa si sufro un accidente
                        laboral o una enfermedad profesional?
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapse17"
                    class="collapse"
                    aria-labelledby="heading17"
                    data-parent="#accordion5"
                  >
                    <div class="card-body">
                      Sí, puedes demandar a la empresa por todo daño sufrido por
                      la enfermedad profesional o el accidente laboral incluido
                      el daño moral. Daño moral se refiere a todo sufrimiento
                      físico y/o emocional ocasionado por la enfermedad o
                      accidente, incluyendo las repercusiones de las lesiones o
                      enfermedad en la vida personal, familiar y social del
                      trabajador. En caso de muerte del trabajador pueden
                      demandar sus familiares. Evaluamos gratuitamente tu caso,
                      <a href="#contacto">contáctanos aquí</a>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="" id="heading18">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapse18"
                        aria-expanded="false"
                        aria-controls="collapse18"
                      >
                        Si recibo un pago por parte del seguro de accidentes y
                        enfermedades ¿puedo igualmente demandar a la empresa?
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapse18"
                    class="collapse"
                    aria-labelledby="heading18"
                    data-parent="#accordion5"
                  >
                    <div class="card-body">
                      Sí aún cuando hayas recibido el pago del seguro puedes
                      demandar a la empresa por el daño personal que te ha
                      ocasionado la enfermedad profesional o el accidente
                      laboral, incluyendo el daño moral.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-5 section-row-image-container">
            <img src="assets/images/accidente-trabajo.jpg" />
          </div>
        </div>
        <div class="row section-row mb-md-4" id="honorarios">
          <div class="col-12 col-md-5 section-row-image-container">
            <img src="assets/images/honorarios.jpg" />
          </div>
          <div
            class="section-row-text-container mt-4 mt-md-0 col-12 col-md-7 d-flex flex-column justify-content-center"
          >
            <h4>Derechos del trabajador con Contrato a Honorarios</h4>
            <div class="section-row-text-container-body">
              <div class="justify-content-md-center text-left mb-5">
                Los trabajadores contratados a honorarios, en principio, no se
                rigen por el Código del Trabajo. Sin embargo, en ocasiones al
                trabajador le ha sido impuesta la modalidad del contrato a
                honorarios sólo para evadir el cumplimiento las leyes del
                trabajo, en cuyo caso se puede demandar ante los Tribunales del
                Trabajo para que se declare la existencia de la relación laboral
                y el pago de todos los derechos laborales, tales como pago de
                cotizaciones, vacaciones, indemnizaciones por despido, etc.
              </div>
              <div class="accordion" id="accordion6">
                <div class="">
                  <div class="" id="heading19">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapse19"
                        aria-expanded="true"
                        aria-controls="collapse19"
                      >
                        ¿Cuándo puedo demandar que se declare que existe una
                        relación laboral si estoy contratado a honorarios?
                      </button>
                    </h2>
                  </div>

                  <div
                    id="collapse19"
                    class="collapse"
                    aria-labelledby="heading19"
                    data-parent="#accordion6"
                  >
                    <div class="card-body">
                      Puedes demandar cuando están presentes los elementos de la
                      relación laboral: Una prestación de servicios continuos
                      (no esporádicos) para un empleador; una remuneración por
                      dicha prestación, y que exista una situación de
                      dependencia y subordinación, es decir, jefes o
                      supervisores que controlan el modo en que realizas tu
                      trabajo. Si están presente estas características se
                      presume la existencia de un contrato de trabajo aunque
                      hayas estado emitiendo boletas de honorarios o no se haya
                      escriturado tu contrato de trabajo.
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="" id="heading20">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapse20"
                        aria-expanded="false"
                        aria-controls="collapse20"
                      >
                        Si he tenido un contrato de honorarios por mucho tiempo
                        e inicio un juicio para que se declare la existencia de
                        una relación laboral ¿qué tengo derecho a demandar?
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapse20"
                    class="collapse"
                    aria-labelledby="heading20"
                    data-parent="#accordion6"
                  >
                    <div class="card-body">
                      Si el juez constata que la empresa debía hacerte un
                      contrato de trabajo, debe condenar a la empresa a pagar
                      todas las obligaciones laborales desde el inicio de la
                      relación laboral. Por lo tanto, la empresa deberá pagar
                      todas cotizaciones atrasadas, la indemnización por años de
                      servicio, un recargo del 50% sobre los años de servicio,
                      vacaciones, además de todas las remuneraciones entre la
                      fecha del autodespido y la fecha en que el empleador pague
                      todas sus cotizaciones atrasadas (ver
                      <a href="#nulidad-despido">nulidad del despido</a>)
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End section -->
    <!-- Section -->
    <div class="my-4 text-center container" id="contacto">
      <p class="subheader">CONTÁCTANOS</p>
      <h2 class="section-header">¿Qué <em>esperas?</em></h2>
      <div class="contact-form-container text-left">
        <div class="container">
          <div class="row flex-column-reverse flex-sm-row">
            <div class="col-md-8 pr-md-5 pr-sm-0 mb-4">
              <%- include('partials/contactForm'); %>
            </div>
            <div class="col-md-4">
              <p>
                <span class="text-uppercase">Email</span>
                <a href="mailto:<%= contactEmail %>"><%= contactEmail %></a>
              </p>
              <p>
                <span class="text-uppercase">Horario</span>
                09:00 AM a 18:00 PM
              </p>
              <p>
                <span class="text-uppercase">Número</span>
                <a href="tel:+56 2 6465 6700">+56 2 6465 6700</a>
                <a href="tel:+56 9 2388 8595">+56 9 2388 8595</a>
              </p>
              <p>
                <span class="text-uppercase">Dirección</span>

                Valentin Letelier # 1373, Of. 1002,<br />
                Santiago Centro (Metro Moneda).<br />
                <br />
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.2267087586356!2d-70.65774698480095!3d-33.443399580775925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c5a64628b135%3A0x8fcf1575e37f91ce!2sValent%C3%ADn%20Letelier%201373%2C%20Santiago%2C%208320000%2C%20Regi%C3%B3n%20Metropolitana%2C%20Chile!5e0!3m2!1sen!2sca!4v1657696523932!5m2!1sen!2sca"
                  width="ato"
                  class="w-100"
                  height="auto"
                  style="border: 0"
                  allowfullscreen=""
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"
                ></iframe>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/inlineScripts'); %>
  </body>
</html>
