<!DOCTYPE html>
<html>
  <head>
    <title>Accidentes en el trabajo</title>
    <meta name="description" content="Our first page" />
    <meta name="keywords" content="html tutorial template" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preload" href="/assets/js/jquery.slim.min.js" as="script" />
    <link rel="preload" href="/assets/js/bootstrap.bundle.min.js" as="script" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link
      rel="stylesheet"
      href="assets/fonts/fontawesome/css/font-awesome.min.css"
    />
  </head>
  <body>
    <%- include('partials/navbar'); %>
    <a
      href="https://api.whatsapp.com/send?phone=56923888595"
      class="fixed-whatsapp-button"
      ><i class="fa fa-whatsapp"></i
    ></a>
    <div
      id="main-carousel"
      class="carousel slide"
      data-ride="carousel"
      data-interval="6000"
    >
      <!-- <div id="main-carousel" class="carousel slide" data-ride="false"> -->
      <div class="carousel-inner">
        <div class="carousel-item image-1 active">
          <div class="carousel-item-text-content slide-2">
            <div class="d-none d-md-block">
              <h2 class="header">¿Sufriste un</h2>
              <p><em>ACCIDENTE DEL TRABAJO?</em></p>
              <p>
                Puedes consultar con nosotros gratuitamente para conocer tu
                derecho a ser indemnizado. Si decides iniciar un juicio laboral
                no tendrás que pagar nada porque los honorarios serán un
                porcentaje del resultado del juicio.
              </p>
            </div>
            <div class="text-content">
              <div class="d-md-none">
                <h2 class="header mobile-header">Juicios por</h2>
                <p><em>Accidente del Trabajo</em></p>
              </div>
              <a class="btn btn-primary" href="#accidentes-del-trabajo"
                >M&aacute;s Informaci&oacute;n</a
              >
            </div>
          </div>
        </div>
        <div class="carousel-item image-2">
          <div class="carousel-item-text-content">
            <div class="d-none d-md-block">
              <h2 class="header">¿Tienes una</h2>
              <p><em>ENFERMEDAD PROFESIONAL?</em></p>
              <p>
                Consúltanos, puedes tener derecho a ser indemnizado. Paga sólo
                si ganas.
              </p>
            </div>
            <div class="text-content">
              <div class="d-md-none">
                <h2 class="header mobile-header">Juicios por</h2>
                <p><em>ENFERMEDAD PROFESIONAL</em></p>
              </div>
              <a class="btn btn-primary" href="#enfermedades-profesionales"
                >M&aacute;s Informaci&oacute;n</a
              >
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-target="#main-carousel"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-target="#main-carousel"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </button>
    </div>
    <div class="bg-primary text-center text-white p-4 my-4">
      <div class="container about-us">
        <h2>DEFENSA DEL TRABAJADOR</h2>
        <p>
          Nuestros abogados, egresados de la Universidad de Chile, cuentan con
          una vasta experiencia en juicios laborales y tienen un fuerte
          compromiso con la defensa de los trabajadores, a un costo al que todos
          pueden acceder.
        </p>
      </div>
    </div>
    <!-- Section -->
    <div class="my-4 text-center container">
      <p class="subheader">La Empresa</p>
      <h2 class="section-header">
        ¿Por qué elegir a los abogados de<br />
        <em>ACCIDENTES EN EL TRABAJO?</em>
      </h2>
      <div class="text-left mt-4">
        <div class="row section-row mb-md-4">
          <div class="col-12 col-md-5 section-row-image-container">
            <img
              src="/assets/images/size/2x/image-section-3.jpg"
              srcset="
                /assets/images/size/1x/image-section-3.jpg  256w,
                /assets/images/size/2x/image-section-3.jpg  512w,
                /assets/images/size/3x/image-section-3.jpg  768w,
                /assets/images/size/4x/image-section-3.jpg 1024w,
                /assets/images/size/6x/image-section-3.jpg 1536w
              "
              sizes="(max-width: 600px) 80vw, 445px"
            />
          </div>
          <div
            class="section-row-text-container mt-4 mt-md-0 col-12 col-md-7 d-flex flex-column justify-content-center"
          >
            <h4>Tu juicio en las mejores manos</h4>
            <div class="section-row-text-container-body">
              <p>
                <span class="section-about__header-list">
                  &check; ESPECIALISTAS A TU SERVICIO.
                </span>
                Sabemos lo que significa un juicio laboral; nos especializamos
                en guiarte a través de este proceso para obtener la mayor
                ganancia con el menor costo personal en tiempo y recursos.
              </p>
              <p>
                <span class="section-about__header-list">
                  &check; PAGA SOLO SI GANAS.
                </span>
                Accidentes en el trabajo sólo te cobrará un porcentaje de lo que
                logres ganar en el juicio; si pierdes el juicio, no pagas.
              </p>
              <p>
                <span class="section-about__header-list">
                  &check; VALORAMOS TU TIEMPO.</span
                >
                Nuestro compromiso es obtener la mayor ganancia en el menor
                tiempo posible. No más retrasos injustificados en sus asesorías
                legales!
              </p>
            </div>
          </div>
        </div>
        <div
          class="row section-row mb-md-4 section-row-image-after flex-column-reverse flex-md-row"
          id="accidentes-del-trabajo"
        >
          <div
            class="section-row-text-container mt-4 mt-md-0 col-12 col-md-7 d-flex flex-column justify-content-center"
          >
            <h4>Accidentes del trabajo</h4>
            <div class="section-row-text-container-body">
              <div class="justify-content-md-center text-left mb-5">
                <p>
                  <span class="section-bold-content"
                    >Accidente del trabajo </span
                  >es cualquier lesión relevante que sufra un trabajador
                  mientras presta servicios para su empleador. La lesión debe
                  estar relacionada con el trabajo. Elementos:
                </p>
                <ol>
                  <li>
                    Una lesión: Es decir, un daño o pérdida ocasionado por
                    alguna herida o golpe, que puede referirse tanto al cuerpo
                    físico del trabajador, como a sus facultades intelectuales o
                    sensitivas, a su salud mental, etc.
                  </li>
                  <li>
                    La relación de causalidad entre el trabajo y la lesión.
                  </li>
                  <li>
                    Derecho a la inviolabilidad de toda forma de comunicación
                    privada.
                  </li>
                  <li>La incapacidad o muerte del accidentado.</li>
                </ol>
              </div>
              <div class="accordion" id="accordionExample">
                <div class="">
                  <div class="" id="headingOne">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                      >
                        ¿Cuál es la responsabilidad del empleador en un
                        accidente del trabajo?
                      </button>
                    </h2>
                  </div>

                  <div
                    id="collapseOne"
                    class="collapse"
                    aria-labelledby="headingOne"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      El empleador es responsable de proteger eficazmente la
                      salud de sus trabajadores. Por lo tanto, cuando ocurre un
                      accidente del trabajo, debe indemnizar al trabajador
                      afectado.
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="" id="headingTwo">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseTwo"
                        aria-expanded="false"
                        aria-controls="collapseTwo"
                      >
                        ¿Puedo demandar a mi empleador si recibí un subsidio o
                        indemnización de la ley Nº16744 (Ley de accidentes del
                        trabajo)?
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapseTwo"
                    class="collapse"
                    aria-labelledby="headingTwo"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      No hay problema, ambas indemnizaciones son compatibles. Es
                      decir, puedes recibir la indemnización o subsidio de la
                      ley de accidentes del trabajo y al mismo tiempo puedes
                      demandar a tu empleador por una indemnización por daño
                      moral o lucro cesante.
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="" id="headingThree">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseThree"
                        aria-expanded="false"
                        aria-controls="collapseThree"
                      >
                        ¿Qué pasa si me accidento en el camino a mi trabajo, o
                        volviendo del trabajo a mi casa?
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapseThree"
                    class="collapse"
                    aria-labelledby="headingThree"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      <p>
                        En caso que sufras un accidente cuando vas en el
                        trayecto directo al trabajo, o de vuelta del trabajo a
                        tu casa, también se considera como un accidente del
                        trabajo.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="" id="headingFour">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseFour"
                        aria-expanded="false"
                        aria-controls="collapseFour"
                      >
                        ¿Cuánto tiempo tengo para presentar una demanda de
                        indemnización por accidente del trabajo?
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapseFour"
                    class="collapse"
                    aria-labelledby="headingFour"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      El plazo que tiene el trabajador para demandar a su
                      empleador en estos casos es de cinco años contados desde
                      que ocurrió el accidente. No importa si sigues trabajando
                      para ese empleador o si tienes otro trabajo.
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="" id="headingFive">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseFive"
                        aria-expanded="false"
                        aria-controls="collapseFive"
                      >
                        ¿Quién debe pagar las atenciones médicas recibidas por
                        un accidente del trabajo?
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapseFive"
                    class="collapse"
                    aria-labelledby="headingFive"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      El tratamiento debe ser pagado por la mutual respectiva y
                      no por el trabajador.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-5 section-row-image-container">
            <img
              src="/assets/images/size/2x/accidente-trabajo.jpg"
              srcset="
                /assets/images/size/1x/accidente-trabajo.jpg  256w,
                /assets/images/size/2x/accidente-trabajo.jpg  512w,
                /assets/images/size/3x/accidente-trabajo.jpg  768w,
                /assets/images/size/5x/accidente-trabajo.jpg 1134w
              "
              sizes="(max-width: 600px) 80vw, 445px"
            />
          </div>
        </div>
        <!-- End section -->
        <div class="bg-primary text-center text-white p-4 mb-5">
          <div class="container about-us">
            <h2 id="costos">COSTOS</h2>
            <p>
              Con nosotros pagaras nuestros servicios solamente si obtienes una
              indemnización por parte de la empresa. Por lo tanto, no debes
              desembolsar ninguna cantidad de dinero para poder llevar adelante
              un juicio por accidente laboral o enfermedad profesional. Los
              honorarios corresponderán a un porcentaje de lo obtenido; ese
              porcentaje es fijado antes de iniciar el juicio de acuerdo a las
              características de tu caso. Consúltanos gratuitamente y
              evaluaremos tu caso haciendo
              <a href="#contacto" class="costos-contact-link">click acá</a>.
            </p>
            <hr class="costos-underline" />
            <h2>EQUIPO</h2>
            <p>
              <span class="section-bold-content">Nicolás Vidal del Valle</span>
              es abogado de la Universidad de Chile, con amplia experiencia en
              derecho laboral. Ha trabajado en las más prestigiosas oficinas de
              abogados, como Philippi Prietocarrizosa Ferrero DU &amp; Uría
              (PPU), Carey y Cía, FerradaNehme y BofillMir, entre otras.
            </p>
            <p>
              <span class="section-bold-content"
                >Claudio Rivera Ruiz-Tagle</span
              >
              es abogado y MBA de la Universidad de Chile, con más de 15 años de
              experiencia en derecho laboral. Ha representado diversos
              sindicatos, federaciones y centrales de trabajadores, concentrando
              su labor en la defensa de los trabajadores.
            </p>
          </div>
        </div>
        <!-- End section -->
        <div class="row section-row mb-md-4 pt-5">
          <div class="col-12 col-md-5 section-row-image-container">
            <img
              src="/assets/images/size/2x/enfermedad-profesional.jpg"
              srcset="
                /assets/images/size/1x/enfermedad-profesional.jpg 256w,
                /assets/images/size/2x/enfermedad-profesional.jpg 512w,
                /assets/images/size/3x/enfermedad-profesional.jpg 768w,
                /assets/images/size/4x/enfermedad-profesional.jpg 900w
              "
              sizes="(max-width: 600px) 80vw, 445px"
            />
          </div>
          <div
            id="enfermedades-profesionales"
            class="section-row-text-container mt-4 mt-md-0 col-12 col-md-7 d-flex flex-column justify-content-center"
          >
            <h4>Enfermedades Profesionales</h4>
            <div class="section-row-text-container-body">
              <div class="justify-content-md-center text-left mb-5">
                <p>
                  La
                  <span class="section-bold-content"
                    >Enfermedad profesional</span
                  >
                  es la causada de una manera directa por el ejercicio de la
                  profesión o del trabajo que realiza una persona y que le
                  produzca incapacidad o muerte.
                </p>
              </div>
              <div class="accordion" id="accordion2">
                <div class="">
                  <div class="" id="headingNine">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseNine"
                        aria-expanded="true"
                        aria-controls="collapseNine"
                      >
                        ¿Cuál es la responsabilidad del empleador en una
                        enfermedad profesional?
                      </button>
                    </h2>
                  </div>

                  <div
                    id="collapseNine"
                    class="collapse"
                    aria-labelledby="headingNine"
                    data-parent="#accordion2"
                  >
                    <div class="card-body">
                      El empleador es responsable de proteger eficazmente la
                      salud de sus trabajadores. Por lo tanto, cuando un
                      trabajador sufre una enfermedad profesional, debe ser
                      indemnizado por su empleador.
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="" id="headingTen">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseTen"
                        aria-expanded="false"
                        aria-controls="collapseTen"
                      >
                        ¿Puedo demandar a la empresa si sufro un accidente
                        laboral o una enfermedad profesional?
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapseTen"
                    class="collapse"
                    aria-labelledby="headingTen"
                    data-parent="#accordion2"
                  >
                    <div class="card-body">
                      Sí, puedes demandar a la empresa por todo daño sufrido por
                      la enfermedad profesional o el accidente laboral incluido
                      el daño moral. Daño moral se refiere a todo sufrimiento
                      físico y/o emocional ocasionado por la enfermedad o
                      accidente, incluyendo las repercusiones de las lesiones o
                      enfermedad en la vida personal, familiar y social del
                      trabajador. En caso de muerte del trabajador pueden
                      demandar sus familiares. Evaluamos gratuitamente tu caso,
                      <a href="#contacto">contáctanos aquí</a>
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="" id="heading11">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapse11"
                        aria-expanded="false"
                        aria-controls="collapse11"
                      >
                        ¿Cuánto tiempo tengo para presentar una demanda de
                        indemnización por enfermedad profesional?
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapse11"
                    class="collapse"
                    aria-labelledby="heading11"
                    data-parent="#accordion2"
                  >
                    <div class="card-body">
                      Dependerá de la enfermedad profesional. En general, son
                      cinco años desde que se diagnosticó la enfermedad
                      profesional, pero para algunos casos este plazo aumenta a
                      quince años (como, por ejemplo, en la silicosis). No
                      importa si sigues trabajando para ese empleador o si
                      tienes otro trabajo.
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="" id="heading12">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapse12"
                        aria-expanded="false"
                        aria-controls="collapse12"
                      >
                        ¿Quién debe pagar las atenciones médicas recibidas por
                        enfermedad profesional?
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapse12"
                    class="collapse"
                    aria-labelledby="heading12"
                    data-parent="#accordion2"
                  >
                    <div class="card-body">
                      El tratamiento debe ser pagado por la mutual respectiva y
                      no por el trabajador.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="my-4 text-center container" id="contacto">
      <p class="subheader">CONTÁCTANOS</p>
      <h2 class="section-header">¿Qué <em>esperas?</em></h2>
      <div class="contact-form-container text-left">
        <div class="container">
          <div class="row flex-column-reverse flex-sm-row">
            <div class="col-md-8 pr-md-5 pr-sm-0 mb-4">
              <%- include('partials/contactForm'); %>
            </div>
            <div class="col-md-4">
              <p>
                <span class="text-uppercase">Email</span>
                <a href="mailto:<%= contactEmail %>"><%= contactEmail %></a>
              </p>
              <p>
                <span class="text-uppercase">Horario</span>
                09:00 AM a 18:00 PM
              </p>
              <p>
                <span class="text-uppercase">Número</span>
                <a href="tel:+56 2 6465 6700">+56 2 6465 6700</a>
                <a href="tel:+56 9 2388 8595">+56 9 2388 8595</a>
              </p>
              <p>
                <span class="text-uppercase">Dirección</span>

                Valentin Letelier # 1373, Of. 1002,<br />
                Santiago Centro (Metro Moneda).<br />
                <br />
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.2267087586356!2d-70.65774698480095!3d-33.443399580775925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c5a64628b135%3A0x8fcf1575e37f91ce!2sValent%C3%ADn%20Letelier%201373%2C%20Santiago%2C%208320000%2C%20Regi%C3%B3n%20Metropolitana%2C%20Chile!5e0!3m2!1sen!2sca!4v1657696523932!5m2!1sen!2sca"
                  width="ato"
                  class="w-100"
                  height="auto"
                  style="border: 0"
                  allowfullscreen=""
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"
                ></iframe>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/inlineScripts'); %>
  </body>
</html>
